/* public */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 85%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.capital {
    text-transform: capitalize;
}

::selection {
    background-color: #b68834;
    color: white;
}

/* end public */


/* start navbar section style */
.nav {
    /* background-color: rgba(20, 2, 0, 0.7); */
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-bottom: 0px;
}

.contact-info-list {
    display: flex;
    justify-content: right;
    align-items: left;
    margin-right: 90px;
    padding-top: 17px;
}

.info-item {
    color: white;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-right: 23px;
}

.tel-header {
    color: white;
}

.nav .logo {
    width: 20%;
}

.nav .logo-img {
    margin-left: 108px;
}

.nav .list-item {
    width: 36%;
    display: flex;
    justify-content: left;
}

.link-nav {
    color: #fff;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1px;
}

.fa-solid {
    color: white;
    font-size: 9px;
    font-weight: 600;
}

.nav .list-item .item .drop-down-list {
    position: absolute;
    padding: 20px 0px 20px 10px;
    top: 50px;
    right: 0px;
    width: 170px;
    background-color: white;
    opacity: 0;
    transition: all 0.8s;
}

.drop-item {
    padding-bottom: 5px;
}

.drop-link {
    color: #333;
    font-size: 13px;
}

.drop-link:hover {
    color: #b68834;
}

.nav .list-item .item:hover .drop-down-list {
    opacity: 1;
    top: 85px;
    right: 0px;
}
/* end navbar section style*/


/* start header section */
header {
    background-image: url(../img/headerImg.webp);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -15px;
}

.header-content {
    text-align: left;
    padding-top: 65px;
    padding-left: 18px;
    color: white;
}

.sub-header {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.main-header {
    font-weight: 600px;
    font-size: 55px;
    width: 60%;
    letter-spacing: 1px;
    line-height: 75px;
}

input[type="button"] {
    margin-top: 15px;
    padding: 7px 40px 7px 40px;
    border-radius: 50px;
    font-size: 15px;
    background-color: white;
    border: 1px solid transparent;
    color: rgba(20, 2, 0, 0.7);
    font-weight: 500;
}

input[type="button"]:hover {
    background-color: rgb(255, 255, 255, .1);
    border-color: white;
    color: white;
    transition: all .5s;
}

/* end header section */