/* public */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 85%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
    }
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.capital {
    text-transform: capitalize;
}

::selection {
    background-color: #b68834;
    color: white;
}

/* end public */


/* start navbar section style */
.nav {
    /* background-color: rgba(20, 2, 0, 0.7); */
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}

.contact-info-list {
    display: flex;
    justify-content: right;
    align-items: left;
    margin-right: 90px;
    padding-top: 17px;
}

.info-item {
    color: white;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-right: 23px;
}

.tel-header {
    color: white;
}

.nav .logo {
    width: 20%;
}

.nav .logo-img {
    margin-left: 108px;
}

.nav .list-item {
    width: 36%;
    display: flex;
    justify-content: left;
}

.link-nav {
    color: #fff;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 1px;
}

.fa-solid {
    color: white;
    font-size: 9px;
    font-weight: 600;
}

.nav .list-item .item .drop-down-list {
    position: absolute;
    padding: 20px 0px 20px 10px;
    top: 50px;
    right: 0px;
    width: 170px;
    background-color: white;
    opacity: 0;
    transition: all 0.8s;
}

.drop-item {
    padding-bottom: 5px;
}

.drop-link {
    color: #333;
    font-size: 13px;
}

.drop-link:hover {
    color: #b68834;
}

.nav .list-item .item:hover .drop-down-list {
    opacity: 1;
    top: 85px;
    right: 0px;
}

/* end navbar section style*/


/* start header section */
header {
    background-image: url(../img/headerImg.webp);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -15px;
}

@media (max-width: 768px) {
    header {
        height: 80vh;
    }
}

.header-content {
    text-align: left;
    padding-top: 65px;
    padding-left: 18px;
    color: white;
}

@media (max-width: 768px) {
    .header-content {
        padding-top: 100px;
    }
}

.sub-header {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}


.main-header {
    font-weight: 600px;
    font-size: 55px;
    width: 60%;
    letter-spacing: 1px;
    line-height: 75px;
}

@media (max-width: 768px) {
    .main-header {
        font-size: 35px;
        width: 90%;
        line-height: 38px;
    }
}

input[type="button"] {
    margin-top: 15px;
    padding: 7px 40px 7px 40px;
    border-radius: 50px;
    font-size: 15px;
    background-color: white;
    border: 1px solid transparent;
    color: rgba(20, 2, 0, 0.7);
    font-weight: 500;
}

input[type="button"]:hover {
    background-color: rgb(255, 255, 255, .1);
    border-color: white;
    color: white;
    transition: all .5s;
}

/* end header section */

/* start description section style */
.descriptionSec {
    margin-top: 33px;
    height: 450px;
}

@media (max-width: 768px) {
    .descriptionSec {
        height: 750px;

    }
}

.imageDesc {
    margin-left: 110px;
    position: relative;
}



@media (max-width: 768px) {
    .imageDesc {
        margin-left: 2px;
        width: 95%;
    }
}

@media (max-width: 768px) {
    .coffeeImage {
        width: 100%;
    }
}

.descriptionContent {
    width: 42%;
}

@media (max-width: 768px) {
    .descriptionContent {
        width: 100%;
        padding-top: 30px;
        padding-left: 40px;
    }
}

.shortDesc {
    color: #b68834;
    font-size: 12px;
    letter-spacing: 1px;
}

.descHeading {
    font-size: 36px;
    font-weight: 900;
    width: 60%;
    line-height: 1.2em;
    color: #222;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .descHeading {
        width: 90%;
    }
}

.userAttractionDesc {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 20px;
}

.desc {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    width: 75%;
}

@media (max-width: 768px) {
    .desc {
        width: 95%;
    }
}

#signatureImg {
    margin-top: 23px;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.78);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 5.2px;
    border-radius: 10px;
}

.overlayContent {
    padding-top: 150px;
    text-align: center;
}

@media (max-width: 768px) {
    .overlayContent {
        padding-top: 90px;
    }
}


/* end description section style */

/* start menu section style */
.menuSection {
    background-image: url(../img/menuImg.jpg);
    background-size: cover;
    height: 850px;
}

@media (max-width: 768px) {
    .menuSection {
        height: 1830px;
    }
}

.mainHeader {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 69px;
}


.heading {
    font-size: 36px;
    font-weight: 900;
    color: #222222;
}

@media (max-width: 768px) {
    .menuHeading {
        font-size: 30px;
    }
}

.para {
    color: #777777;
    font-size: 14px;
    margin-top: 7px;
}

.menuItems .container {
    width: 81%;
}

.menuItem {
    padding-left: 30px;
    padding-right: 30px;
    width: 344px;
    height: 140px;
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgb(182 136 52 / 20%);
}

.menuItem .row {
    margin-top: 20px;
}

.coffeeName {
    font-size: 18px;
    font-weight: 900;
}

.price {
    color: #b68834;
    font-size: 17px;
    font-weight: bold;
}

.coffeeDesc {
    color: #777777;
    font-size: 14px;
    margin-top: 18px;
}

/* end menu section style */


/* start coffee kinds image section style */
.coffeeKindsImage {
    height: 1100px;
    margin-left: -7px;
}

@media (max-width: 768px) {
    .coffeeKindsImage {
        height: 1960px;
    }
}

#coffee1 {
    display: block;
    margin-bottom: 30px;
    padding-top: 9px;
}

.columnImg {
    margin-left: 30px;
}

.rowImg {
    margin-top: 25px;
}

@media (max-width: 768px) {
    .coffeeImgDiv {
        width: 360px;
        padding-right: 17px;
        padding-bottom: 13px;
        margin: auto;
    }

}

/* end coffee kinds image section style */

/* start coffee Statistics section style */
.coffeeStatistics {
    height: 730px;
    background-color: #b68834;
}

@media (max-width: 768px) {
    .coffeeStatistics {
        height: 1440px;
    }
}

.statisticsHeading {
    color: white;
}

.statisticsPara {
    color: white;
}

.statisticsDivContainer {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .statisticsDivContainer {
        margin-left: 0px;
    }
}

.statisticsDiv {
    width: 48%;
}

@media (max-width: 768px) {
    .statisticsDiv {
        width: 100%;
        padding-bottom: 20px;
    }
}

.statisticsDivHeader {
    color: white;
    padding-top: 15px;
    font-size: 16px;
}

.statisticsDivPara {
    color: white;
    font-size: 14px;
    padding-top: 20px;
}

.markaHeader {
    display: flex;
    flex-direction: row;
}

.star {
    margin-top: 15px;
    margin-left: 10px;
}

.fa-star {
    padding-left: 3px;
    font-size: 11px;
}

.star .checked {
    color: orange;
}

.counterContainer {
    margin-left: 15px;
    margin-top: 100px;
}

@media (max-width: 768px) {
    .counterContainer {
        text-align: center;
        margin-left: 0px;
        margin-top: 70px;
    }
}

.counter {
    width: 30%;
    color: white;
}

@media (max-width: 768px) {
    .counter {
        width: 50%;
        margin-bottom: 20px;
    }
}

.number {
    font-size: 50px;

}

@media (max-width: 768px) {
    .number {
        font-size: 60px;

    }
}

/* end coffee Statistics section style */

/* start life style section style */
.lifeStyleSection {
    height: 850px;
}

@media (max-width: 768px) {
    .lifeStyleSection {
        height: 1240px;
    }
}

.lifeStyleContainer {
    padding-left: 22px;
}

@media (max-width: 768px) {
    .lifeStyleContainer {
        padding-left: 2px;
    }
}

@media (max-width: 768px) {
    .lifeStylePara {
        margin: auto;
    }
}

.lifeStyleImg {
    width: 95%;
}

@media (max-width: 768px) {
    .lifeStyleImg {
        width: 100%;
    }
}

.lifeStyleList {
    margin-bottom: 19px;
    margin-top: 14px;
}

.lifeStyleElment {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid #eee;
    border-radius: 15px;
}

.lifeStyleElment:hover {
    background-color: #b68834;
    border: 1px solid #b68834;
    transition: all .5s;
}

.lifeStyleLink {
    text-decoration: none;
    font-size: 13px;
    color: black;
}

.lifeStyleLink:hover {
    color: white;
    transition: all .5s;
}

.lifeStylePara {
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 13px;
    color: #777777;
    width: 87%;
}

@media (max-width: 768px) {
    .lifeStylePara {
        width: 100%;
    }
}

.date {
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .date {
        padding-bottom: 15px;
    }
}

/* end life style section style */

/* start footer style */
footer {
    background-image: url(../img/footerBackgroundImg.jpg);
    height: 500px;
    background-position: -300px 0px;
    background-repeat: no-repeat;
    color: white;
}

@media (max-width: 768px) {
    footer {
        height: 130vh;
        background-size: cover;
    }
}

.footerContainer {
    padding-top: 100px;
    padding-left: 13px;
}

@media (max-width: 768px) {
    .footerContainer {
        padding-top: 340px;
        padding-left: 0px;
    }
}


footer ::selection {
    background-color: #777777;
}

.footerHeading {
    font-size: 18px;
}

.footerPara {
    font-size: 14px;
}

.aboutUs {
    width: 44%;
    padding-top: 67px;
}
@media (max-width: 768px) {
    .aboutUs {
        width: 100%;
    }
}

.aboutUsHeading {
    padding-bottom: 32px;
}

.aboutAuPara {
    padding-bottom: 35px;
}

.changeColor {
    color: #b68834;
}

.copyRights {
    width: 91%;
}


.newsletter {
    width: 40%;
    padding-top: 33px;
}

@media (max-width: 768px) {
    .newsletter {
        width: 100%;
    }
}

.newsletterPara {
    padding-top: 30px;
    padding-bottom: 20px;
}


#emailInput {
    width: 330px;
    height: 39px;
    display: inline;
    margin-right: -4px;
}

@media (max-width: 768px) {
    #emailInput {
        width: 230px;
    }
}

#submitBtn {
    width: 50px;
    height: 42.2px;
    background-color: #b68834;
}

.followUs {
    width: 15%;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .followUs {
        width: 100%;
    }
}

.followUsPara {
    padding-top: 32px;
    padding-bottom: 25px;
}

@media (max-width: 768px) {
    .followUsPara {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.followUsIcons {
    color: white;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .followUsIcons {
        padding-right: 30px;
    }
}

.followUsIcons:hover {
    color: #b68834;
    transition: all .5s;
}


/* end footer style */